form.form.send-transaction-form {
  border-top-left-radius: 0;
  min-width: 280px;
  width: 100%;
  min-height: 267px;
  border-radius: 4px;
}
form.form.send-transaction-form .assets {
  font-family: monospace monospace;
}
.submission-confirmation {
  height: 100%;
  padding: 16px;
  border-radius: 4px;
  max-width: 400px;
  justify-content: center;
}
