.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row.between {
  justify-content: space-between;
}
.row.evenly {
  justify-content: space-evenly;
}
.row.reverse {
  flex-direction: row-reverse;
}
.row.w100 {
  width: 100%;
}
