@use '../../styles/colors.scss' as colors;

.account-selector {
  position: relative;

  .selector {
    padding: 2px 12px 2px 6px;
    position: relative;
  }

  .inset-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .inset-container {
    position: absolute;
    width: 280px;
    top: 38px;
    right: 0;
    z-index: 101;
  }
}
